extends layout

block content
  h1= title
  p Welcome to #{title}

  <div class="row">
  <div class="col-md-4 shadow p-3 mb-5">
  h2= Store
    p We offer a wide variety of new products, used game parts, and refurbished goods.
  </div>
  </div>
  <div class="overlay">
  p CLASS 
  </div>

  p HERE I AM